
<app-navigation></app-navigation>

<div class="container-fluid p-0 landing-page-content">
    <div class="col">
        <!-- <video class="w-100" autoplay playsinline loop id="myVideo">
            <source src="assets/images/Job_Clicks_New.mp4" type="video/mp4">
        </video> -->
        <video [muted]="true" class="w-100" autoplay playsinline loop id="myVideo">
            <source [src]="'assets/images/Job_Clicks_New.mp4'" type="video/mp4">
          </video>
        <!-- <img src="assets/images/landing-banner.jpg" class="d-block w-100" alt="..."> -->
    </div>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-5">
            <div class="aboutus-block p-relative">
                <div class="about-background"></div>
                <img src="assets/images/about-us-image.png" class="d-block about-img" alt="...">
            </div>
        </div>
        <div class="col-lg-7 px-5">
            <div class="title">
                Know More About us We're <br>Accept you Friendly
            </div>
            <div class="content pt-3">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap.</p>
            </div>
            <div class="">
                <button class="jc-button ">Know More</button>
            </div>
            <div class="about-option mt-3 d-flex">
                <div class="about-option-content d-flex">
                    <span><img src="assets/images/Understand_your_needs.png" class="d-block about-img"
                            alt="..."></span><span class="about-option-text">Understand your <br>needs</span>
                </div>
                <div class="about-option-content d-flex mx-5">
                    <span><img src="assets/images/Find_the_prefect_candidate.png" class="d-block about-img"
                            alt="..."></span><span class="about-option-text">Find the prefect <br>candidate</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contailer-fluid way-to-use-employee py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="way-to-use-employee-option mt-3 row">
                    <div class="employee-option-content col-6 text-center">
                        <span class="d-block"><img src="assets/images/Create_account_icon.png"
                                class="about-img" alt="..."></span>
                        <span class="employee-option-title d-block">Create Acount</span>
                        <span class="employee-option-text d-block">Create an account and access your saved settings
                            on any device.</span>
                    </div>
                    <div class="employee-option-content col-6 text-center">
                        <span><img src="assets/images/Find_job_Vacancy.png" class="about-img"
                                alt="..."></span>
                        <span class="employee-option-title d-block">Find Job Vacancy</span>
                        <span class="employee-option-text d-block">Don’t just find. Be found. Put your CV in frount
                            of great employers.</span>
                    </div>
                </div>
                <div class="way-to-use-employee-option mt-4 row justify-content-center">
                    <div class="employee-option-content col-8 text-center">
                        <span><img src="assets/images/Pick_the_best_icon.png" class="about-img"
                                alt="..."></span>
                        <span class="employee-option-title d-block">Get a Job</span>
                        <span class="employee-option-text d-block">Your next career move starts here. Choose Job
                            from thousands of companies.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 px-5">
                <div class="title">
                    Easiest Way To Use - Employee
                </div>
                <div class="content pt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap.</p>
                </div>
                <div class="employee-content-options">
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    </ul>
                </div>
                <div class="d-flex">
                    <div class="d-block align-self-center"> <img src="assets/images/looking_for_job_icon.png"
                            class="about-img mr-3" alt="..."></div>
                    <div class="employee-button mx-2 shadow-sm">
                        <span class="employee-option-title d-block">Looking for Job?</span>
                        <span class="apply-now d-flex">Apply Now <span class="apply-now-bar"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contailer-fluid way-to-use-employer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 px-5">
                <div class="title">
                    Easiest Way To Use - Employer
                </div>
                <div class="content pt-3">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap.</p>
                </div>
                <div class="employee-content-options">
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    </ul>
                </div>
                <div class="d-flex">
                    <div class="d-block align-self-center"> <img
                            src="assets/images/Are_you_recruiting_icon.png" class="about-img mr-3" alt="...">
                    </div>
                    <div class="employee-button mx-2 shadow-sm">
                        <span class="employee-option-title d-block">Are You Recruiting?</span>
                        <span class="apply-now d-flex">Post Job Now <span class="apply-now-bar"></span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="way-to-use-employee-option mt-3 row">
                    <div class="employee-option-content col-6 text-center">
                        <span class="d-block"><img src="assets/images/Create_account_icon.png"
                                class="about-img" alt="..."></span>
                        <span class="employee-option-title d-block">Create Acount</span>
                        <span class="employee-option-text d-block">Create an account and access your saved settings
                            on any device.</span>
                    </div>
                    <div class="employee-option-content col-6 text-center">
                        <span><img src="assets/images/Create_account_icon.png" class="about-img"
                                alt="..."></span>
                        <span class="employee-option-title d-block">Find Job Vacancy</span>
                        <span class="employee-option-text d-block">Don’t just find. Be found. Put your CV in frount
                            of great employers.</span>
                    </div>
                </div>
                <div class="way-to-use-employee-option mt-4 row justify-content-center">
                    <div class="employee-option-content col-8 text-center">
                        <span><img src="assets/images/Pick_the_best_icon.png" class="about-img"
                                alt="..."></span>
                        <span class="employee-option-title d-block">Get a Job</span>
                        <span class="employee-option-text d-block">Your next career move starts here. Choose Job
                            from thousands of companies.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid featured-jobs py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title">
                    Featured Jobs
                </div>
                <div class="tag-line">Join The Best Well Known Compant Around The World</div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="client-logo-block shadow-sm">
                    <img src="assets/images/google-logo.png" class="about-img" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="client-logo-block shadow-sm">
                    <img src="assets/images/Oracle-logo.png" class="about-img" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="client-logo-block">
                    <img src="assets/images/Intel-logo.png" class="about-img" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="client-logo-block shadow-sm">
                    <img src="assets/images/IBM-Logo.png" class="about-img" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="client-logo-block shadow-sm">
                    <img src="assets/images/Infosys-Logo.png" class="about-img" alt="...">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="suggested-categories">
                    <p>Suggested Categories</p>
                    <ul>
                        <li class="mx-2">Developer</li>
                        <li class="mx-2">Marketing</li>
                        <li class="mx-2">UX/UI Design</li>
                        <li class="mx-2">Human Resouces</li>
                        <li class="mx-2">Project Manager</li>
                        <li class="mx-2">Finance Consultancey</li>
                        <li class="mx-2">Finance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid tech-news py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="tech-news-blog">
                    <img src="assets/images/tech-news-img1.png" class="d-block w-100 about-img" alt="...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tech-news-blog">
                    <img src="assets/images/tech-news-img2.png" class="d-block w-100 mb-2 about-img"
                        alt="...">
                    <img src="assets/images/tech-news-img2.png" class="d-block w-100 about-img" alt="...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tech-news-blog">
                    <img src="assets/images/tech-news-img3.png" class="d-block w-100 mb-2 about-img"
                        alt="...">
                    <div class="d-flex">
                        <div class="blog-small mr-2">
                            <img src="assets/images/tech-news-img4.png" class="d-block mb-2 w-100 about-img"
                                alt="...">
                            <p class=" px-2">
                                <strong>Microsoft</strong>
                                Microsoft has announced the next feature
                            </p>
                        </div>
                        <div class="blog-small ml-2">
                            <img src="assets/images/tech-news-img4.png" class="d-block w-100 about-img"
                                alt="...">
                            <p class=" px-2">
                                <strong>Microsoft</strong>
                                Microsoft has announced the next feature
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tech-news-text-blog">
                    <div class="tech-news-title mb-2">
                        In Other NEWS
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid upload-resume py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="title mb-2">Start your career by uploading your awesome resume!</div>
                <div class="mb-2">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has<br> been the industry's standard dummy text ever since the 1500s, when an unknown</p>
                </div>
                <div class="d-block text-center"><button class="jc-button ">Upload Resume</button></div>
            </div>
        </div>
    </div>
</div>
</div>