.in-actie-btn{
    background: transparent linear-gradient(
        282deg
        , #B90000 0%, #5D0000 100%) 0% 0% no-repeat padding-box;
            box-shadow: 1px 3px 6px #00000029;
            border-radius: 8px;
            color: #fff;
            border: none;
            width: 240px;
            height: 38px;
}
.actie-btn{
    // background: transparent linear-gradient(100deg, #004A19 0%, #00B235 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(100deg, #005C97 0%, #363795 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    box-shadow: 1px 3px 6px #00000029;
    color: #fff;
    border: none;
    width: 240px;
    height: 38px;
}
.confirm-title{
    font-size: 18px;
    color: #184B96;
    font-weight: 600;
}
.jc-btn-cancel{
font-weight: 600 !important;
  }
.confirm-text{
    font-size: 14px;
    .in-active-text{
        color: #B90000;
        font-weight: 500;
    }
    .active-text{
        color: #009723;
        font-weight: 500;
    }
}
.jc-btn-cancel{
    width: 120px;
}