
    <div class="container-fluid tech-news p-0 p-relative">
        <span class="close-button" (click)="dialogRef.close()"><img src="assets/images/close.png" class="close-popup" alt="logo"></span>
            <div class="row">
                <div class="col p-0">
                    <div class="landing-login-page">
                        <div class="logo text-center">
                            <img src="assets/images/logo.png" class="mb-3" alt="...">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's</p>
                        </div>
                        <div class="login-title text-center">
                            Login/Register
                        </div>
                        <div class="forms mt-3">
                            <div class="login-button mt-3 text-center">
                                <button class="employer mx-2" (click)="loginJobSeeker()">Job Seeker</button>
                                <button class="employer mx-2" (click)="loginEmployeer()">Employer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
